/* TODAS LAS PAGINAS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
body {
    background-color: rgba(45, 45, 56, 0.479); 
    display: grid;
    justify-content: center;
    }

.divFormularios {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

    /* EVENTOS */
    /* cajas con productos */
#contenedorCajasProductos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#contenedorCajasCarrito{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#contenedorCajasProductos div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 20px;
}


/* carrito */
#contenedorCajasCarrito div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 20px;
}




h1 {
    padding-top: 56px;
    font-size: 2.5rem;
    text-align: center;
    }
h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 18px;
    }













